<div class="row">
 <div class="col-3">
    <div class="card border-primary mb-3" style="width: 15rem">
        <img class="card-img-top" src="assets/img/AdibJPEG.jpg">
        <div class="card-body">
          <h4 class="card-title">Adib Khan</h4>
          <p class="card-text">Software Engineer</p>
          <a href="#" class="btn btn-primary">Linked In</a>
        </div>
      </div>

 </div>
 <div class="col-sm"> 
 </div> 

 <div class="col-8">  
  <div class="starter-template">
    <h4>About me</h4>
    <p class="lead">I am a software engineer with 5+ years of experience.<br> I like learning new techonologies.</p>
  </div> 

  <div class="card  border-dark mb-4">
      <div class="card-header">
        TriTech Software Systems
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">Worked as a mentor for fellow team mates.</p>
      </div>
    </div>

  <div class="card  border-dark mb-4">
      <div class="card-header">
        C H Robinson
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">Worked as a mentor for fellow team mates.</p>
      </div>
    </div>

    <div class="card  border-dark mb-4">
        <div class="card-header">
          Japs Olson Company
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Worked as a mentor for fellow team mates.</p>
        </div>
    </div>

      <div class="card  border-dark mb-4">
          <div class="card-header">
            Otter Tail Power
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <p class="card-text">Worked as a mentor for fellow team mates.</p>
          </div>
        </div>
 </div>
</div>
