<div class="row">
  <div class="col-3">
    <div class="card border-dark mb-3" style="width: 15rem">
      <img class="card-img-top" src="assets/img/AdibJPEG.jpg">
      <div class="card-body">
        <h4 class="card-title">Adib Khan</h4>
        <p class="card-text">Software Engineer</p>
        <div class="linkedInImage">
          <a href="https://www.linkedin.com/in/adibkhan/" class="btn btn-light btn-sm">
            <img style="width:50%" src="assets/img/LinkedInLogo.png">
          </a>
        </div>

      </div>
    </div>

  </div>

  <div class="col-sm"></div>

  <div class="col-8">
    <div class="starter-template">
      <h4>About me</h4>
      <p class="lead">I am a software engineer with 5+ years of experience.
        <br> I like learning new techonologies.</p>
    </div>
    <nav id="navbarExperience" class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Experience</a>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="#tritech">TriTech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#chrobinson">CHRobinson</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#japsolson">JapsOlson</a>
        </li>
      </ul>
    </nav>

    <div data-spy="scroll" data-target="#navbarExperience" data-offset="0">

      <div id="tritech" class="card mb-4">
        <div class="card-header" style="background-color:honeydew">
          TriTech Software Systems
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Worked as a mentor for fellow team mates. Worked as a mentor for fellow team mates. Worked as a mentor for fellow
            team mates. Worked as a mentor for fellow team mates.Worked as a mentor for fellow team mates.Worked as a mentor
            for fellow team mates.Worked as a mentor for fellow team mates. Worked as a mentor for fellow team mates.Worked
            as a mentor for fellow team mates.Worked as a mentor for fellow team mates.Worked as a mentor for fellow team
            mates.

          </p>
        </div>
      </div>

      <div id="chrobinson" class="card mb-4">
        <div class="card-header"  style="background-color:honeydew" >
          C H Robinson
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Worked as a mentor for fellow team mates.</p>
        </div>
      </div>

      <div id="japsolson" class="card mb-4">
        <div class="card-header" style="background-color:honeydew">
          Japs Olson Company
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Worked as a mentor for fellow team mates.</p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header" style="background-color:honeydew">
          Otter Tail Power
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Worked as a mentor for fellow team mates.</p>
        </div>
      </div>

    </div>

    <nav id="navbarEducation" class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Education</a>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="#stcloud">Saint Cloud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#stthomas">Saint Thomas</a>
        </li>
      </ul>
    </nav>
    <div data-spy="scroll" data-target="#navbarEducation" data-offset="0">

      <div id="stcloud" class="card mb-4">
        <div class="card-header">
          Saint cloud state university
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Special title treatment</h5> -->
          <p class="card-text">Got my electrical engineering degree from there.</p>
        </div>
      </div>
    </div>

  </div>
</div>